<!DOCTYPE html>
<html>
<head>
    <title>Page d'accueil</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Bienvenue sur la page d'accueil de mon application !</h1>
    <p>Ceci est une application Flask de démonstration.</p>
    <a href="{{ url_for('about') }}">About</a>
</body>
</html>
